// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here
@use "overrides" as *;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

.form-control {
  background-color: #fff;
}

.form-control:focus {
  border-color: #86b7fe;
  background-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(134 182 254 / 25%);
}
